$accent: hsl(355, 84%, 55%);

$dark-color: #232323;
$light-color: #f4f4f4;
$white-color: #fff;

$default-transition-time: 300ms;
$quick-transition-time: 150ms;

$desktop-screen-width: 1800px;
$laptop-screen-width: 1400px;
$big-tablet-screen-width: 1100px;
$medium-tablet-screen-width: 798px;
$small-tablet-screen-width: 687px;
$big-mobile-screen-width: 620px;
$medium-mobile-screen-width: 540px;
$small-mobile-screen-width: 350px;
